.container {
    background-color: rgba(255, 255, 255, 0.9);
    /* 0.5 - semi-transparent */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#startGame {
    display: none;
}

#deleteStart {
    display: contents;
}

#deleteButtonStart {
    display: contents;
}

.containerscore {
    text-align: center;
}

.box div {
    padding: 15px;
    text-align: center;
    color: #000000;
    font-family: OCR A Std, monospace;
}

.box {
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
}

.mid {
    display: inline-block;
    width: 500px;
    background-color: rgba(156, 109, 160, 0.8);
    /* 0.5 - semi-transparent */
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin: auto;
    border-radius: 10px;
}

.midmid {
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    /* 0.5 - semi-transparent */
    margin-right: auto;
    margin-left: auto;
    margin: auto;
    border-radius: 10px;
}

.midmid h2 {
    color: rgba(255, 255, 255, 0.9);
    font-family: OCR A Std, monospace;
}

button {
    font-family: OCR A Std, monospace;
}

#grille {
    width: 200px;
    height: 140%;
    text-align: center;
    background-color: rgba(58, 58, 58, 0.8);
    border: 1px;
    border: 1px solid #999;
    margin-top: 180px;
    border-radius: 10px;
}

#grille p {
    color: white;
    font-size: 150%;
    font-family: OCR A Std, monospace;
}

#grille div {
    border: 2px solid rgba(255, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.5s all;
    text-align: center;
    color: white;
}

.hero {
    display: none;
}